.App-about-header {
  position: relative;
  margin: auto;
  text-align: center;
}

.logo-about {
  height: 275px;
  width: 90%;
  pointer-events: none;
  object-fit: cover;
  filter: brightness(65%);
  border-radius: 15px;
}

@media (max-width: 375px) {
  .logo-about {
    height: 220px;
  }
}